# Go executable files
*.exe
*.exe~
*.out

# Binary files
*.a
*.o
*.so

# Go package cache
/pkg/
.gocache
.gomodcache

# Dependency directories (remove the comment below if you want to ignore these)
vendor/ 

# IDE files
.idea/
.vscode/

# Logs
*.log
*.debug.sqlite3
*.debug.sqlite3-shm
*.debug.sqlite3-wal

# Test binary, build with `go test -c`
*.test

# Coverage files
*.out

# Worktrees
.worktrees/

# build/release artifacts
dist/
tmux-popup-control

# claude stuff
.superpowers
